.img_cabecera {
  max-width: 40%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-image: url('https://app.pacisa.es/assets/images/pacisa_nuevo.png');
  background-size: cover;
}

.example-card {
  max-width: 100%;
  height: auto;
}

section{
  margin-top: 20px;
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.lineas {
  flex-direction: row-reverse;
  display: flex;
  justify-content: space-between;
}

.flex_button_inline {
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
  box-sizing: border-box;
  min-height: 52px;
  padding: 8px;
}

