<mat-card *ngIf="vCard" class="example-card">
  <img src="assets/images/pacisa_nuevo.png" class="img_cabecera" id="img_cabecera" />
</mat-card>

<mat-card *ngIf="vCard" class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{vCard.nombre}} {{vCard.primer_apellido}} {{vCard.segundo_apellido}}</mat-card-title>
    <mat-card-subtitle>{{vCard.puesto}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-list role="list">
      <mat-divider></mat-divider>
      <mat-list-item role="listitem">
        <mat-icon aria-hidden="false" aria-label="mail icon">mail</mat-icon>
        <div mat-line>{{vCard.correo}}</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem">
        <mat-icon aria-hidden="false" aria-label="phone icon">phone</mat-icon>
        <div mat-line>{{vCard.movil}}</div>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
    <mat-card-actions>
      <section>
        <div class="example-button-row">
          <div class="example-flex-container">
            <div class="example-button-container">
              <button mat-fab aria-label="Example icon-button with a heart icon" (click)="descargarVCard()">
                <mat-icon>download</mat-icon>
              </button>
            </div>
            <div class="example-button-container">
              <a mat-fab aria-label="Example icon button with a plus one icon" href="tel:{{vCard.movil}}">
                <mat-icon>phone</mat-icon>
              </a>
            </div>
            <div class="example-button-container">
                <a mat-fab aria-label="Example icon button with a plus one icon" href="mailto:{{vCard.correo}}">
                  <mat-icon>mail</mat-icon>
                </a>
            </div>
          </div>
        </div>
      </section>
    </mat-card-actions>
  </mat-card-content>
</mat-card>



